<h4 class='xen-color'>My Answers</h4>

<% @user_questions.each do |user_question| %>
  <p>
    <strong>Title:</strong>
    <%= user_question.first_name %>
  </p>
  <p>
    <strong>Text:</strong>
    <%= user_question.last_name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= user_question.email %>
  </p>
  <p>
    <strong>Phone:</strong>
    <%= user_question.phone %>
  </p>
  <p>
    <strong>Address1:</strong>
    <%= user_question.address1 %>
  </p>
  <p>
    <strong>Address2:</strong>
    <%= user_question.address2 %>
  </p>
  <p>
    <strong>City:</strong>
    <%= user_question.city %>
  </p>
  <p>
    <strong>State:</strong>
    <%= user_question.state %>
  </p>
  <p>
    <strong>Zip Code:</strong>
    <%= user_question.zip %>
  </p>
  <p>
    <strong>Occupation:</strong>
    <%= user_question.occupation %>
  </p>
  <p>
    <strong>Birthday:</strong>
    <%= user_question.birthday %>
  </p>
  <p>
    <strong>Annual Income:</strong>
    <%= user_question.annual_income %>
  </p>
  <p>
    <strong>Paycheck Amount:</strong>
    <%= user_question.paycheck %>
  </p>
  <p>
    <strong>Paycheck Occurance:</strong>
    <%= user_question.paycheck_occurance %>
  </p>
  <p>
    <strong>Credit Card Debt:</strong>
    <%= user_question.card_debt %>
  </p>
  <p>
    <strong>Consumer Debt:</strong>
    <%= user_question.consumer_debt %>
  </p>
  <p>
    <strong>Mortgage Balance:</strong>
    <%= user_question.mortgage_balance %>
  </p>
  <p>
    <strong>Retirement Contribution (Monthly):</strong>
    <%= user_question.retirment_contribution %>
  </p>
  <p>
    <strong>College Contribution (Monthly):</strong>
    <%= user_question.college_contribution %>
  </p>
  <p>
    <strong>Cash on Hand:</strong>
    <%= user_question.cash_savings %>
  </p>
  <div>
    <%= link_to 'Edit', edit_question_path(user_question.id), class: 'button' %>
  </div>
<% end %>
