<p>
  <strong>Title:</strong>
  <%= @question.first_name %>
</p>
<p>
  <strong>Text:</strong>
  <%= @question.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @question.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @question.phone %>
</p>
<p>
  <strong>Address1:</strong>
  <%= @question.address1 %>
</p>
<p>
  <strong>Address2:</strong>
  <%= @question.address2 %>
</p>
<p>
  <strong>City:</strong>
  <%= @question.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @question.state %>
</p>
<p>
  <strong>Zip Code:</strong>
  <%= @question.zip %>
</p>
<p>
  <strong>Occupation:</strong>
  <%= @question.occupation %>
</p>
<p>
  <strong>Birthday:</strong>
  <%= @question.birthday %>
</p>
<p>
  <strong>Annual Income:</strong>
  <%= @question.annual_income %>
</p>
<p>
  <strong>Paycheck Amount:</strong>
  <%= @question.paycheck %>
</p>
<p>
  <strong>Paycheck Occurance:</strong>
  <%= @question.paycheck_occurance %>
</p>
<p>
  <strong>Credit Card Debt:</strong>
  <%= @question.card_debt %>
</p>
<p>
  <strong>Consumer Debt:</strong>
  <%= @question.consumer_debt %>
</p>
<p>
  <strong>Mortgage Balance:</strong>
  <%= @question.mortgage_balance %>
</p>
<p>
  <strong>Retirement Contribution (Monthly):</strong>
  <%= @question.retirment_contribution %>
</p>
<p>
  <strong>College Contribution (Monthly):</strong>
  <%= @question.college_contribution %>
</p>
<p>
  <strong>Cash on Hand:</strong>
  <%= @question.cash_savings %>
</p>
