<%= form_with(model: credit_card_debt, local: true) do |form| %>
  <% if credit_card_debt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card_debt.errors.count, "error") %> prohibited this credit_card_debt from being saved:</h2>

      <ul>
      <% credit_card_debt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance %>
  </div>

  <div class="field">
    <%= form.label :monthly_minimum %>
    <%= form.text_field :monthly_minimum %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
