<h5>My Credit Card Debts</h5>

<% @user_credit_card_debts.each do |user_credit_card_debt| %>
  <table class="table">
    <thead>
      <tr>
        <th>Card Name</th>
        <th>Balance</th>
        <th>Card Number</th>
        <th>Payee Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= user_credit_card_debt.card_name %></td>
        <td><%= user_credit_card_debt.balance %></td>
        <td><%= user_credit_card_debt.card_number %></td>
        <td><%= user_credit_card_debt.payee_name %></td>
      </tr>
    </tbody>
  <table>

  <table class="table">
    <thead>
      <tr>
        <th>Payee Address1</th>
        <th>Payee Address2</th>
        <th>Payee City</th>
        <th>Payee State</th>
        <th>Payee Zip</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= user_credit_card_debt.payee_address1 %></td>
        <td><%= user_credit_card_debt.payee_address2 %></td>
        <td><%= user_credit_card_debt.payee_city %></td>
        <td><%= user_credit_card_debt.payee_state %></td>
        <td><%= user_credit_card_debt.payee_zip %></td>
      </tr>
    </tbody>
  <table>
  <%= link_to 'Edit', edit_credit_card_debt_path(user_credit_card_debt.id), class: 'button right' %>
<% end %>
