<h3>My Status</h3>
<p>You're currently at Level 4. <strong>MAKE IT DYNAMIC</strong></p>

</br>

<h4 class="xen-color">Level 1 - Stack account</h4>
  <p>Your stack account is at $1,588.00. That means we have $412.00 left to go until we reach $2,000.</p>
  <h3>MAKE THIS DYNAMIC!!!</h3>

</br>

<h4 class="xen-color">Level 2 - Small emergency fund</h4>
<% cash_on_hand.each do |cash| %>
  <p>You currently have <%= cash.cash_savings %> dollars on hand. We will leave $1,000 and use rest of it for the next level</p>
<% end %>

</br>

<% if @user_credit_card_debts.present?%>
  <h4 class="xen-color">Level 3 - Payoff all credit cards</h4>
  <h5> Here is the order the credit card will be paid off, smallest to largest.</h5>
  <% sorted_credit_card_debts.each do |debt| %>
    <ul>
      <li><%= debt.card_name %> with balance off <%= debt.balance %>.</li>
    </ul>
  <% end %>
<% else %>
  <h4 class="xen-color">Level 3 - Payoff all credit cards</h4>
  <h5>You have no credit card debts. YAAAY! We move on to next level.</h5>
<% end %>

</br>

<% if @user_consumer_debts.present?%>
  <h4 class="xen-color">Level 4 - Payoff all consumer debts</h4>
  <h5> Here is the order the consumer debts will be paid off, smallest to largest.</h5>
  <% sorted_consumer_debts.each do |debt| %>
    <ul>
      <li><%= debt.name %> with balance off <%= debt.balance %>.</li>
    </ul>
  <% end %>
<% else %>
  <h4 class="xen-color">Level 4 - Payoff all consumer debts</h4>
  <h5>You have no consumer debts. YAAAY! We move on to next level.</h5>
<% end %>

</br>

<h4 class="xen-color">Level 5 - Big emergency fund</h4>
  <h3>MAKE THIS DYNAMIC!!!</h3>
  
</br>

<h4 class="xen-color">Level 6 - Retirement savings</h4>
  <h3>MAKE THIS DYNAMIC!!!</h3>
  
</br>

<h4 class="xen-color">Level 7 - Payoff mortgage early</h4>
  <h3>MAKE THIS DYNAMIC!!!</h3>
  
</br>
