<h3>My Status - Level <%= current_level %></h3>
<p>Your stack account is at $<%= @user_stack_accounts.balance %>.</p>
<p>Your stack small emergency is at $<%= @user_small_emergency.balance %>.</p>
<p>Your stack big emergency is at $<%= @user_big_emergency.balance %>.</p>
<p>Your stack retirement account is at $<%= @user_retirement_account.balance %>.</p>
<p>Your stack mortgage account is at $<%= @user_mortgage_account.balance %>.</p>
</br>
</br>

<h4 class="xen-color">Level 1 - Stack account</h4>
  <% if @user_stack_accounts.present? %>
    <p>Your stack account is at $<%= @user_stack_accounts.balance %> . That means we have $<%= stack_account_remaining %> left to go until we reach $2,000.</p>
  <% end %>
</br>

<h4 class="xen-color">Level 2 - Small emergency fund of $1,000</h4>
  <% if @user_small_emergency.balance >= 0 %>
    <p>Your small emergency account currently has $<%= @user_small_emergency.balance %>.
  <% else %>
    <p>This is your next level.</p>
  <% end %>

</br>
</br>

<h4 class="xen-color">Level 3 - Payoff all credit cards</h4>
  <% if @user_credit_card_debts.present?%>
    <h5> Here is the order the credit card will be paid off, smallest to largest.</h5>
    <% sorted_credit_card_debts.each do |debt| %>
      <ul>
        <li><%= debt.card_name %> with balance off <%= debt.balance %>.</li>
      </ul>
    <% end %>
  <% else %>
    <h5>You have no credit card debts. YAAAY! Let's move on to the next level.</h5>
  <% end %>

</br>

<h4 class="xen-color">Level 4 - Payoff all consumer debts</h4>
  <% if @user_consumer_debts.present?%>
    <h5> Here is the order the consumer debts will be paid off, smallest to largest.</h5>
    <% sorted_consumer_debts.each do |debt| %>
      <ul>
        <li><%= debt.name %> with balance off <%= debt.balance %>.</li>
      </ul>
    <% end %>
  <% else %>
    <h5>You have no consumer debts. YAAAY! Let's move on to the next level.</h5>
  <% end %>

</br>

<h4 class="xen-color">Level 5 - Big emergency fund of $15,000</h4>
  <% if @user_big_emergency.present? %>
    <p>Your big emergency is at $<%= @user_big_emergency.balance %></p>
  <% else %>
    <p>We need to work on big emergency</p>
  <% end %>
</br>

<h4 class="xen-color">Level 6 - Retirement savings</h4>
  <% if @user_retirement_account.present? %>
    <p>Your retirement account is at $<%= @user_retirement_account.balance %></p>
  <% else %>
    <p>We need to work on retirement account</p>
  <% end %>
  
</br>

<h4 class="xen-color">Level 7 - Payoff mortgage early</h4>
  <% if @user_mortgage_account.present? %>
    <p>Your mortgage account is at $<%= @user_mortgage_account.balance %></p>
  <% else %>
    <p>We need to work on mortgage account</p>
  <% end %>
  
</br>
