<div class="center jumbotron">
  <div class="cta container rounded text-center text-white">
    <h1>xenDOLLAR</h1>
    <p class="lead p-3">
      No BS personal finance.  
      Our service makes achieving your financial independence automatic and headache free.
    </p>
    <%= link_to "LETS DO THIS!!!", new_question_path, class: 'button' %>
  </div>
</div>

<h3>xenDOLLAR Levels</h3>

<div class="well">
  <div style="overflow: hidden;">
    <ul class="list-group list-group-flush form-group">
      <div class="form-group col-md-12">
        <li class="list-group-item">
          1. <strong>Stash Account</strong> - On every payday 10% of your paycheck is transferred from your 
          checking account and gets stashed. When it reaches $1,000 it plugs into the rest 
          of the steps. The initial 10% saving increases by a percentage point every six months. 
        </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">
          2. <strong>Small Emergency Account</strong> - When the stash account reaches $1,000 the money 
          get transferred to Small Emergency account and the stash account resets to $0. 
        </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">
          3. <strong>Credit Card Debts</strong> - When the stash account reaches $1,000 it will start 
          paying off credit card debts smallest to largest and stash account resets to $0. 
          This will be repeated until all the credit cards are paid off. 
        </li>
      </div>
      <div class="form-group col-md-12">
         <li class="list-group-item">
          4. <strong>Consumer Debts</strong> (car payments, student loans, medical payments) - When 
          the stash account reaches $1,000 it will start paying off consumer 
          debts smallest to largest and stash account resets to $0. This will be repeated 
          until all the consumer debts are paid off. 
        </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">
          5. <strong>Big Emergency Account</strong> -  When the stash account reaches $1,000 the 
          money get transferred to the user’s savings account and the stash account 
          resets to $0.  This will be repeated until the user’s savings account reaches $15,000. 
        </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">
          6. <strong>Retirement Account</strong> - When the stash account reaches $1,000:
            <ul style="list-style-type:square">
              <li>
                Half the money get transferred to the Vanguard Roth IRA account 
                we set up for the user. Funds will be evenly distributed to 4 low cost ETF’s. 
                If the amount exceeds the Roth Ira maximum allowed contribution it puts the rest of the money into 
                Traditional IRA. 
              </li>
              <li>
                Half the money is used to pay off the mortgage principal. 
              </li>
            </ul>
        </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">
          7. <strong>Mortgage Account</strong> - Levels 6 and 7 are done simultaneously. 
        </li>
      </div>
    </ul>
    <%= link_to "Get Started", new_question_path, class: 'button right' %>
  </div>
</div>

</br>

<h3>Where Do I Begin?</h3>

<div class="well">
  <div style="overflow: hidden;">
    <ul class="list-group list-group-flush form-group">
      <div class="form-group col-md-12">
        <li class="list-group-item">
          <strong>First</strong> - you should answer the initial questions. 
          <%= link_to "Click here", new_question_path, class: 'button-link' %>
        </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">
          <strong>Second</strong> - you should enter information of all the credit card debts you carry. 
          <%= link_to "Click here", new_credit_card_debt_path, class: 'button-link' %>
          </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">
          <strong>Third</strong> - you should enter informatino of all other consumer debts you carry. 
          <%= link_to "Click here", new_consumer_debt_path, class: 'button-link' %>
        </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">
          We will take care of the rest from there.
        </li>
      </div>
    </ul>
  </div>
</div>
</br>
