<h4 class='xen-color'>My Consumer Debts</h4>

<% if @user_consumer_debts.present? %>
  <% @user_consumer_debts.each do |user_consumer_debt| %>
    <p>
      <strong>Name:</strong>
      <%= user_consumer_debt.name %>
    </p>

    <p>
      <strong>Balance:</strong>
      <%= user_consumer_debt.balance %>
    </p>

    <p>
      <strong>Monthly Minimum:</strong>
      <%= user_consumer_debt.monthly_minimum %>
    </p>

    <p>
      <strong>Account Number:</strong>
      <%= user_consumer_debt.account_number %>
    </p>

    <p>
      <strong>Payee Name:</strong>
      <%= user_consumer_debt.payee_name %>
    </p>

    <p>
      <strong>Payee Address1:</strong>
      <%= user_consumer_debt.payee_address1 %>
    </p>

    <p>
      <strong>Payee Address2:</strong>
      <%= user_consumer_debt.payee_address2 %>
    </p>

    <p>
      <strong>Payee City:</strong>
      <%= user_consumer_debt.payee_city %>
    </p>

    <p>
      <strong>Payee State:</strong>
      <%= user_consumer_debt.payee_state %>
    </p>

    <p>
      <strong>Payee Zip:</strong>
      <%= user_consumer_debt.payee_zip %>
    </p>
    </br>
    <div>
      <%= link_to 'Edit', edit_consumer_debt_path(user_consumer_debt.id), class: 'button' %>
      <%= link_to 'Add', new_consumer_debt_path, class: 'button-blue'%>
      <%= link_to 'Delete', consumer_debt_path(user_consumer_debt.id), method: :delete,
                                                    data: { confirm: "Are you sure you want to delete this?"},
                                                    class: 'button-danger' %>
    </div>
    </br>
    </br>
  <% end %>
<% else %>
  <h5>You have no consumer debt, YAAAY!!! If you want to add one here's the link.</h5>
  <%= link_to 'Add Consumer Debt', new_consumer_debt_path, class: 'button' %>
  </br>
<% end %>
