<h5>My Consumer Debts</h5>

<% @user_consumer_debts.each do |user_consumer_debt| %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Balance</th>
        <th>Account Number</th>
        <th>Payee Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= user_consumer_debt.name %></td>
        <td><%= user_consumer_debt.balance %></td>
        <td><%= user_consumer_debt.account_number %></td>
        <td><%= user_consumer_debt.payee_name %></td>
      </tr>
    </tbody>
  <table>

  <table class="table">
    <thead>
      <tr>
        <th>Payee Address1</th>
        <th>Payee Address2</th>
        <th>Payee City</th>
        <th>Payee State</th>
        <th>Payee Zip</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= user_consumer_debt.payee_address1 %></td>
        <td><%= user_consumer_debt.payee_address2 %></td>
        <td><%= user_consumer_debt.payee_city %></td>
        <td><%= user_consumer_debt.payee_state %></td>
        <td><%= user_consumer_debt.payee_zip %></td>
      </tr>
    </tbody>
  <table>
 <hr>
<% end %>
